<section>
  <div class="container">
    <div class="row">
      <div class="pt-2 col-3" id="restInfo">
        {{#each restInfo}}
          <img
            src="/image/{{this.profile_path}}"
            alt="restaurant profile pic"
            class="restProfilePic"
          />
          <p class="my-4 lh-1">Restaurant name: {{this.name}}</p>
          <p class="my-4 lh-1">Description: {{this.description}}</p>
          <p class="my-4 lh-1">Address: {{this.address}}</p>
          <p class="my-4 lh-1">District: {{this.district}}</p>
          <p class="my-4 lh-1">Tel: {{this.phone_no}}</p>
          <p class="my-4 lh-1">Opening hour: {{this.opening_time}}</p>
          <p class="my-4 lh-1">Closing hour: {{this.closing_time}}</p>
          <p class="my-4 lh-1">No of seat: {{this.seats}}</p>
          <p class="my-4 lh-1">Delivery service: {{this.delivery}}</p>
        {{/each}}
        <a href="/biz/bizsetup"><button
            class="btn-editProfile me-4 border-0 rounded"
          >Edit my profile</button></a>
        <a href="/biz/bizsetupmenu"><button
            class="btn-editMenu me-4 my-2 border-3 rounded"
          >Edit my menu</button></a>
      </div>
      <div class="restMenu col-9">
        <h4>Menu</h4>
        <table class="table table-bordered">
          <thead>
            <tr class="text-center">
              <th><a
                  href="/biz/info/soup&salad"
                  class="text-decoration-none soup"
                >Soup n Salad</a></th>
              <th><a
                  href="/biz/info/starter"
                  class="text-decoration-none"
                >Starter</a></th>
              <th><a
                  href="/biz/info/main"
                  class="text-decoration-none"
                >Main</a></th>
              <th><a
                  href="/biz/info/desserts"
                  class="text-decoration-none"
                >Dessert</a></th>
              <th><a
                  href="/biz/info/drinks"
                  class="text-decoration-none"
                >Drinks</a></th>
              <th><a
                  href="/biz/info/others"
                  class="text-decoration-none"
                >Others</a></th>
            </tr>
          </thead>
        </table>

        <div class="d-flex flex-wrap justify-content-center">
          {{#each dishInfo}}
            <div class="card me-3 rest-dishes" style="max-width: 20rem;">
              <img
                src="/image/{{this.photo_path}}"
                class="card-img-top mx-auto"
                alt="dishes pic"
              />
              <div class="card-body">
                <p class="card-text">{{this.item}}</p>
                <p class="card-text">HKD {{this.price}}</p>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>

<br />
<br />