<section>
  <div class="container">
    <div class="row">
      <div class="col-3">
        {{#each restInfo}}
          <img
            src={{this.profile_path}}
            alt="restaurant profile pic"
            class="restProfilePic"
          />
          <p class="my-4 lh-1">Restaurant name: {{this.name}}</p>
          <p class="my-4 lh-1">Description: {{this.description}}</p>
          <p class="my-4 lh-1">Address: {{this.address}}</p>
          <p class="my-4 lh-1">District: {{this.district}}</p>
          <p class="my-4 lh-1">Tel: {{this.phone_no}}</p>
          <p class="my-4 lh-1">Opening hour: {{this.opening_time}}</p>
          <p class="my-4 lh-1">Closing hour: {{this.closing_time}}</p>
          <p class="my-4 lh-1">No of seat: {{this.seats}}</p>
          <p class="my-4 lh-1">Delivery service: {{this.delivery}}</p>
        {{/each}}
      </div>
      <div class="restMenu col-9">
        <h4>Menu</h4>
        <table class="table table-bordered">
          <thead>
            <tr class="text-center">
              <th><a href="#" class="text-decoration-none">Soup n Salad</a></th>
              <th><a href="#" class="text-decoration-none">Starter</a></th>
              <th><a href="#" class="text-decoration-none">Main</a></th>
              <th><a href="#" class="text-decoration-none">Dessert</a></th>
              <th><a href="#" class="text-decoration-none">Drinks</a></th>
              <th><a href="#" class="text-decoration-none">Others</a></th>
            </tr>
          </thead>
        </table>

        <div class="d-flex flex-wrap justify-content-start">
          {{! #each dishes }}
          <div class="card me-3 rest-dishes" style="max-width: 20rem;">
            <img
              src="./panna-cotta.png"
              class="card-img-top mx-auto"
              alt="dishes pic"
            />
            <div class="card-body">
              <p class="card-text">Apple pie</p>
              <p class="card-text">HKD 12.50</p>
            </div>
          </div>
          {{! /each dishes }}
        </div>
      </div>
    </div>
  </div>
</section>

<br />
<br />