<section>
  <div class="container">
    <div class="row">
      <div class="col-3">
        {{#each info}}
        <h2 class="mt-5 userInfoTitle">Your<br />Information</h2>
        <p class="my-4 userInfoContent userFirstname">First name: <span>{{this.firstname}}</span></p>
        <p class="my-4 userInfoContent userLastname">Last name: <span>{{this.surname}}</span></p>
        <p class="my-4 userInfoContent userUsername">Email: <span>{{this.username}}</span></p>
        <p class="my-4 userInfoContent userAddress">Address: <span>{{this.address}}</span></p>
        <p class="my-4 userInfoContent userDistrict">District: <span>{{this.district}}</span></p>
        <p class="my-4 userInfoContent userPhone">Tel: <span>{{this.phone_no}}</span></p>
        {{/each}}
        <button class="border-0 rounded btn-userEditProfile" data-bs-toggle="modal" data-bs-target="#edit">Edit
          profile</button>
      </div>
      <div class="col-9">
        <div>
          <a href="/user"><button type="button" class="me-3 py-2 px-4 rounded bg-white btn-user">My Booking</button></a>
          <a href="/user/order"><button type="button" class="me-3 py-2 px-4 rounded bg-white btn-user">My
              Order</button></a>
          <a href="/user/bookmark"><button type="button" class="me-3 py-2 px-4 rounded bg-white btn-user">My
              Bookmark</button></a>
        </div>

        {{!-- User booking --}}
        {{#each booking}}
        <div class="userBooking rounded">
          <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-2 rest-profile-pic">
                <img src="/assets/panna-cotta.png" alt="restaurant profile pic" />
              </div>
              <div class="col-8 align-self-center">
                <p>{{this.name}}</p>
                <p><i class="fas fa-map-marker-alt userNavbarIcon"></i>&nbsp;
                  {{this.address}}
                </p>
                <p>{{this.no_of_ppl}} guests</p>
                <p>{{this.booking_date}}&nbsp;&nbsp;&nbsp;{{this.booking_time}}</p>
              </div>
              <div class="col-2">
                <button type="button" class="border-0 rounded my-3 btn-userStatus">{{this.booking_status}}</button>
                <button type="button" class="border-0 rounded my-3 btn-userCancel" id="{{this.id}}"
                  data-bs-toggle="modal" data-bs-target="#delete">Cancel</button>
              </div>
            </div>
          </div>
          {{/each}}

          {{!-- User order --}}
          {{#each order}}
          <div class="userOrder rounded">
            <div class="container">
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col-2 rest-profile-pic">
                  <img src="/assets/panna-cotta.png" alt="restaurant profile pic" />
                </div>
                <div class="col-8">
                  <p>{{this.name}}</p>
                  <p><i class="fas fa-map-marker-alt userNavbarIcon"></i>&nbsp;{{this.address}}
                  </p>
                  <p>Order details</p>
                </div>
                <div class="col-2">
                  <button type="button" class="border-0 rounded my-3 btn-userStatus">Status</button>
                  <button type="button" class="border-0 rounded my-3 btn-userCancel" data-bs-toggle="modal"
                    data-bs-target="#delete">Cancel</button>
                </div>
              </div>
            </div>
            {{/each}}

            {{!-- User bookmark --}}
            {{#each bookmark}}
            <div class="userBookmark rounded">
              <div class="container">
                <div class="row d-flex justify-content-center align-items-center">
                  <div class="col-2 rest-profile-pic">
                    <img src="/assets/panna-cotta.png" alt="restaurant profile pic" />
                  </div>
                  <div class="col-10">
                    <p>ABC restaurant</p>
                    <p><i class="fas fa-map-marker-alt userNavbarIcon"></i>&nbsp;ABC building, Tsim Sha Tsui, Kowloon,
                      Hong Kong
                    </p>
                    <p>Tag</p>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>

      {{!-- Delete model --}}
      <div class="modal fade" id="delete" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Cancel booking</h4>
              <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure to cancel the booking?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn-userClose" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn-userCancel">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      {{!-- Edit profile model --}}
      <div class="modal fade" id="edit" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit your profile</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="userInfo-edit">
              {{#each info}}
              <label for="username" class="mt-3">Username</label>
              <br>
              <input class="username" name="username" type="email" value="{{this.username}}" style="width: 250px;">
              <br>
              <label for="firstname" class="mt-3">First Name</label>
              <br>
              <input class="firstname" type="text" value="{{this.firstname}}">
              <br>
              <label for="surname" class="mt-3">Last name</label>
              <br>
              <input class="surname" type="text" value="{{this.surname}}">
              <br>
              <label for="address" class="mt-3">Address</label>
              <br>
              <input class="address" type="text" value="{{this.address}}" style="width: 465px;">
              <br>
              <label for="userDistrict" class="form-label mt-3">District</label>
              <select class="form-select district" id="userDistrict">
                <option value="{{this.district}}" selected hidden>{{this.district}}</option>
                <option value="Central and Western">Central and Western</option>
                <option value="Eastern">Eastern</option>
                <option value="Southern">Southern</option>
                <option value="Wai Chai">Wai Chai</option>
                <option value="Kowloon City">Kowloon City</option>
                <option value="Kwun Tong">Kwun Tong</option>
                <option value="Sham Shui Po">Sham Shui Po</option>
                <option value="Wong Tai Sin">Wong Tai Sin</option>
                <option value="Yau Tsim Mong">Yau Tsim Mong</option>
                <option value="Tsuen Wan">Tsuen Wan</option>
                <option value="Kwai Tsing">Kwai Tsing</option>
                <option value="Shatin">Shatin</option>
                <option value="North">North</option>
                <option value="Tai Po">Tai Po</option>
                <option value="Tuen Mun">Tuen Mun</option>
                <option value="Yuen Long">Yuen Long</option>
                <option value="Sai Kung">Sai Kung</option>
                <option value="Islands">Islands</option>
              </select>
              <label for="phone" class="mt-3">Telephone number</label>
              <br>
              <input class="phone" type="number" value="{{this.phone_no}}">
              {{/each}}
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="border-0 rounded btn-userClose" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="border-0 rounded btn-userInfoSubmit userInfoSubmit"
                data-bs-dismiss="modal">Submit</button>
            </div>
          </div>
        </div>
      </div>

</section>