<section>
  <div class="container pb-5">
    <div class="row">
      <div class="col-3 pb-5">
        {{#each info}}
          <h2 class="mt-5 userInfoTitle">Your<br />Information</h2>
          <p class="my-4 userInfoContent userFirstname">First name:
            <span>{{this.firstname}}</span></p>
          <p class="my-4 userInfoContent userLastname">Last name:
            <span>{{this.surname}}</span></p>
          <p class="my-4 userInfoContent userUsername">Email:
            <span>{{this.username}}</span></p>
          <p class="my-4 userInfoContent userAddress">Address:
            <span>{{this.address}}</span></p>
          <p class="my-4 userInfoContent userDistrict">District:
            <span>{{this.district}}</span></p>
          <p class="my-4 userInfoContent userPhone">Tel:
            <span>{{this.phone_no}}</span></p>
        {{/each}}
        <button
          class="border-0 rounded btn-userEditProfile"
          data-bs-toggle="modal"
          data-bs-target="#edit"
        >Edit profile</button>
      </div>
      <div class="col-9">
        <div>
          <a href="/user"><button
              type="button"
              class="me-3 py-2 px-4 rounded bg-white btn-user"
            >My Booking</button></a>
          <a href="/user/order"><button
              type="button"
              class="me-3 py-2 px-4 rounded bg-white btn-user"
            >My Order</button></a>
          <a href="/user/bookmark"><button
              type="button"
              class="me-3 py-2 px-4 rounded bg-white btn-user"
            >My Bookmark</button></a>
        </div>

        {{! User booking }}
        {{#each booking}}
          <div class="userBooking rounded" id="{{this.id}}">
            <div class="container">
              <div class="row d-flex align-items-center">
                <div class="col-3 text-center rest-profile-pic">
                  <img
                    src="/image/{{this.profile_path}}"
                    alt="restaurant profile pic"
                  />
                  <button
                    type="button"
                    class="border-0 rounded mt-4 btn-userReview reviewButton"
                    id="{{this.rest_id}}"
                    data-bs-toggle="modal"
                    data-bs-target="#review"
                  >review</button>
                </div>
                <div class="col-7">
                  <div class="d-flex align-items-center">
                    <h3 class="mt-2 me-3">{{this.name}}</h3>
                    <p
                      class="mt-3 me-4 userBooking-star rating"
                    >{{this.rating}}</p>
                  </div>
                  <p><i class="fas fa-map-marker-alt userNavbarIcon"></i>&nbsp;
                    {{this.address}}
                  </p>
                  <p><i
                      class="fas fa-user-friends userNavbarIcon"
                    ></i>&nbsp;{{this.no_of_ppl}}
                    guests</p>
                  <p><i
                      class="far fa-clock userNavbarIcon"
                    ></i>&nbsp;{{this.booking_date}}&nbsp;&nbsp;&nbsp;{{this.booking_time}}
                  </p>
                  <p><i class="fas fa-utensils userNavbarIcon"></i>&nbsp;Order
                    details:</p>
                  <table>
                    {{#each booking_detail}}
                      <tr>
                        <td>{{this.item}}&nbsp;</td>
                        <td>x{{this.quantity}}</td>
                      </tr>
                    {{/each}}
                  </table>
                  <p><i
                      class="fas fa-marker userNavbarIcon"
                    ></i>&nbsp;{{this.special_request}}</p>
                </div>
                <div class="col-2 text-center">
                  <span>Booking status:</span><br />
                  <button
                    type="button"
                    class="border-0 rounded my-3 btn-userStatus"
                  >{{this.booking_status}}</button>
                  <br />
                  <span>Cancel booking:</span><br />
                  <button
                    type="button"
                    class="border-0 rounded my-3 btn-userCancel userCancelBooking"
                    id="{{this.id}}"
                    data-bs-toggle="modal"
                    data-bs-target="#delete"
                  >Cancel</button>
                </div>
              </div>
            </div>
          </div>
        {{/each}}

        {{! User order }}
        {{#each order}}
          <div class="userOrder rounded" id="{{this.id}}">
            <div class="container">
              <div class="row d-flex align-items-center">
                <div class="col-3 text-center rest-profile-pic">
                  <img
                    src="/image/{{this.profile_path}}"
                    alt="restaurant profile pic"
                  />
                  <button
                    type="button"
                    class="border-0 rounded mt-4 btn-userReview reviewButton"
                    id="{{this.rest_id}}"
                    data-bs-toggle="modal"
                    data-bs-target="#review"
                  >review</button>
                </div>
                <div class="col-7">
                  <div class="d-flex align-items-center">
                    <h3 class="mt-2 me-3">{{this.name}}</h3>
                    <p
                      class="mt-3 me-4 userBooking-star rating"
                    >{{this.rating}}</p>
                  </div>
                  <p><i
                      class="fas fa-map-marker-alt userNavbarIcon"
                    ></i>&nbsp;{{this.address}}
                  </p>
                  <p><i class="fas fa-utensils userNavbarIcon"></i>&nbsp;Order
                    details:</p>
                  <table>
                    {{#each order_detail}}
                      <tr>
                        <td>{{this.item}}&nbsp;</td>
                        <td>x{{this.quantity}}</td>
                      </tr>
                    {{/each}}
                  </table>
                  <p>Total: HKD {{this.total_amount}}</p>
                  <p><i
                      class="fas fa-marker userNavbarIcon"
                    ></i>&nbsp;{{this.special_request}}</p>
                </div>
                <div class="col-2 text-center">
                  <span>Order status:</span><br />
                  <button
                    type="button"
                    class="border-0 rounded my-3 btn-userStatus orderStatus"
                  >{{this.order_status}}</button>
                  <br />
                  <span>Cancel order:</span>
                  <button
                    type="button"
                    class="border-0 rounded my-3 btn-userCancel userCancelOrder"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteOrder"
                  >Cancel</button>
                </div>
              </div>
            </div>
          </div>
        {{/each}}

        {{! User bookmark }}
        {{#each bookmark}}
        <a href="/order/{{this.rest_id}}">
          <div class="userBookmark rounded" id="{{this.id}}">
            <div class="container">
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col-3 align-middle rest-profile-pic">
                  <img
                    src="/image/{{this.profile_path}}"
                    alt="restaurant profile pic"
                    class="my-3"
                  />
                </div>
                <div class="col-6">
                  <div class="d-flex align-items-center">
                    <h3 class="mt-2 me-3">{{this.name}}</h3>
                    <p class="mt-2 userBooking-star rating">{{this.rating}}</p>
                  </div>
                  <p><i
                      class="fas fa-map-marker-alt userNavbarIcon"
                    ></i>&nbsp;{{this.address}}
                  </p>
                  <i class="fas fa-tag userNavbarIcon mb-3"></i>
                  {{#each tag_name}}
                    <span>{{this}}</span>
                  {{/each}}
                </div>
                <div class="col-3 text-center">
                  <button
                    type="button"
                    class="border-0 rounded btn-userStatus unbookmark"
                  >unbookmark</button>
                </div>
              </div>
            </div>
          </div>
          </a>
        {{/each}}
      </div>
    </div>
  </div>
</section>

{{! delete booking modal }}
<div class="modal fade" id="delete" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cancel booking</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure to cancel the booking?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="border-0 rounded btn-userClose"
          data-bs-dismiss="modal"
        >Close</button>
        <button
          type="button"
          class="border-0 rounded btn-userCancel confirmCancelBooking"
          data-bs-dismiss="modal"
        >Cancel</button>
      </div>
    </div>
  </div>
</div>

{{! delete order modal }}
<div class="modal fade" id="deleteOrder" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cancel order</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure to cancel the order?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="border-0 rounded btn-userClose"
          data-bs-dismiss="modal"
        >Close</button>
        <button
          type="button"
          class="border-0 rounded btn-userCancel confirmCancelOrder"
          data-bs-dismiss="modal"
        >Cancel</button>
      </div>
    </div>
  </div>
</div>

{{! Edit profile model }}
<div class="modal fade" id="edit" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit your profile</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" id="updateUserInfoModal">
        <form class="userInfo-edit">
          {{#each info}}
            <div class="mb-3">
              <label for="username">Username</label><br />
              <input
                class="username form-control"
                name="username"
                type="email"
                value="{{this.username}}"
                style="width: 250px;"
                disabled
              />
            </div>

            <div class="mb-3">
              <label for="firstname">First Name</label><br />
              <input
                class="firstname form-control"
                id="userFirstName"
                name="fname"
                type="text"
                value="{{this.firstname}}"
              />
              <div class="v-msg"></div>
            </div>

            <div class="mb-3">
              <label for="surname">Last name</label><br />
              <input
                class="surname form-control"
                id="userLastName"
                name="lname"
                type="text"
                value="{{this.surname}}"
              />
              <div class="v-msg"></div>
            </div>

            <div class="mb-3">
              <label for="address">Address</label>
              <br />
              <input
                class="address form-control"
                id="userAddress"
                name="address"
                type="text"
                value="{{this.address}}"
                style="width: 465px;"
              />
              <div class="v-msg"></div>
            </div>

            <div class="mb-3">
              <label for="userDistrict" class="form-label mb-0">District</label>
              <select
                class="form-select district"
                id="userDistrict"
                name="userDistrict"
              >
                <option
                  value="{{this.district}}"
                  id="userDistrict"
                  name="infoModalDistrict"
                  selected
                  hidden
                >{{this.district}}</option>
                <option value="Central and Western">Central and Western</option>
                <option value="Eastern">Eastern</option>
                <option value="Southern">Southern</option>
                <option value="Wai Chai">Wai Chai</option>
                <option value="Kowloon City">Kowloon City</option>
                <option value="Kwun Tong">Kwun Tong</option>
                <option value="Sham Shui Po">Sham Shui Po</option>
                <option value="Wong Tai Sin">Wong Tai Sin</option>
                <option value="Yau Tsim Mong">Yau Tsim Mong</option>
                <option value="Tsuen Wan">Tsuen Wan</option>
                <option value="Kwai Tsing">Kwai Tsing</option>
                <option value="Shatin">Shatin</option>
                <option value="North">North</option>
                <option value="Tai Po">Tai Po</option>
                <option value="Tuen Mun">Tuen Mun</option>
                <option value="Yuen Long">Yuen Long</option>
                <option value="Sai Kung">Sai Kung</option>
                <option value="Islands">Islands</option>
              </select>
              <div class="v-msg"></div>
            </div>

            <div class="mb-3">
              <label for="phone">Telephone number</label><br />
              <input
                class="phone form-control"
                type="text"
                id="userPhone"
                name="phone"
                value="{{this.phone_no}}"
              />
              <div class="v-msg"></div>
            </div>
          {{/each}}
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="btnCloseModal"
          class="border-0 rounded btn-userClose"
          data-bs-dismiss="modal"
        >Close</button>
        <button
          type="submit"
          class="border-0 rounded btn-userInfoSubmit userInfoSubmit"
        >Submit</button>
      </div>
    </div>
  </div>
</div>

{{! review modal }}
<div class="modal fade" id="review" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rate the restaurant</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Would you recommend this restaurant?
        <select class="form-select" id="rating">
          <option value="5" selected>5 -- Very likely</option>
          <option value="4">4</option>
          <option value="3">3</option>
          <option value="2">2</option>
          <option value="1">1 -- Unlikely</option>
        </select>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="border-0 rounded btn-userClose"
          data-bs-dismiss="modal"
        >Close</button>
        <button
          type="button"
          class="border-0 rounded btn-userReview review"
          data-bs-dismiss="modal"
        >Submit</button>
      </div>
    </div>
  </div>
</div>