<form class="d-flex justify-content-center mb-5" method="GET" action="/search">
  <input
    class="form-control me-2 userSearch"
    type="search"
    name="q"
    value="{{queryString}}"
    placeholder="Search restaurant name"
    aria-label="Search"
  />
  <button type="submit" class="border-0 rounded btn-userSearch">GO ></button>
</form>

<div class="container mb-5 text-center">
  {{#if tag}}
    {{#each tag}}
      <span class="badge rounded-pill tags me-2">
        <a href="/tag/{{this.id}}">
          {{this.tag_name}}
        </a>
      </span>
    {{/each}}
  {{/if}}
</div>

<div class="container pb-5">
  {{#each userInfo}}
    <div class="mb-3 welcomeTitle">
      <h2 class="ms-5">Welcome home, {{this.firstname}} !</h2>
      <p class="ms-5">There are some recommendations for you at
        {{this.district}}</p>
    </div>
  {{/each}}

  <div class="d-flex flex-wrap justify-content-center">
    {{#each recommendation}}
      <a href="/order/{{this.id}}" class="text-decoration-none">
        <div
          class="card mx-4 mb-4 border border-top-0 border-start-0 border-3 rounded-2 userRestCard"
          style="width: 24rem; height: 30rem;"
        >
          <img
            src="/image/{{this.profile_path}}"
            class="card-img-top mx-auto"
            alt="Restaurant profile pic"
          />
          <div class="card-body">
            <h4
              class="card-text text-center userRestCardTitle"
            >{{this.name}}</h4>
            <p class="text-center userBooking-star rating">{{this.rating}}</p>
            <p>Address: {{this.address}}</p>
            <p>Tel: {{this.phone_no}}</p>
            <p>Seats: {{this.seats}}</p>
          </div>
        </div>
      </a>
    {{/each}}
  </div>

  <h2 class="my-4 ms-5 featuredTitle">{{result}}</h2>
  <div class="d-flex flex-wrap justify-content-center">
    {{#each feature}}
      <a href="/order/{{this.id}}" class="text-decoration-none">
        <div
          class="card mx-4 mb-4 border border-top-0 border-start-0 border-3 rounded-2 userRestCard"
          style="width: 24rem; height: 30rem;"
        >
          <img
            src="/image/{{this.profile_path}}"
            class="card-img-top mx-auto"
            alt="Restaurant profile pic"
          />
          <div class="card-body">
            <p class="card-text text-center userRestCardTitle">{{this.name}}</p>
            <p class="text-center userBooking-star rating">{{this.rating}}</p>
            <p>Address: {{this.address}}</p>
            <p>Tel: {{this.phone_no}}</p>
            <p>Seats: {{this.seats}}</p>
          </div>
        </div>
      </a>
    {{/each}}
  </div>

  <div class="d-flex flex-wrap justify-content-center">
    {{#each rest}}
      <a href="/order/{{this.id}}" class="text-decoration-none">
        <div
          class="card mx-4 mb-4 border border-top-0 border-start-0 border-3 rounded-2 userRestCard"
          style="width: 24rem; height: 30rem;"
        >
          <img
            src="/image/{{this.profile_path}}"
            class="card-img-top mx-auto"
            alt="Restaurant profile pic"
          />
          <div class="card-body">
            <p class="card-text text-center userRestCardTitle">{{this.name}}</p>
            <p class="text-center userBooking-star rating">{{this.rating}}</p>
            <p>Address: {{this.address}}</p>
            <p>Tel: {{this.phone_no}}</p>
            <p>Seats: {{this.seats}}</p>
          </div>
        </div>
      </a>
    {{/each}}
  </div>

</div>